body {
    background-image: url('../images/dust.png');
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #808080;
}

h1, h2 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-weight: bold;
}

h1 {font-size: 2em;}
h2 {font-size: 1.4em;}

.container {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

/* Header */

.header {
	height: 86px;
	width: 100%;
	background-color: #ffffff;
	border-bottom: 2px solid #d7d7d7;
	position: fixed;
	z-index: 3;
}

.title {
	background-color: #4aaaa5;
	width: 221px;
	height: 100%;
	float: left;
}

.title h2 {
    padding: 32px 0px;
    text-align: center;
	color: #ffffff;
}

.nav-bar {
	float: right;
	margin-top: 34px;
}

.nav-bar a {
	text-decoration: none;
	color: #777777;
	float: left;
	padding: 2px 9px 0 9px;
	height: 16px;
}

.nav-bar a:hover { color: #bbbbbb; }
.nav-bar a:not(:first-child) { border-left: 1px solid #eeedee; }
.nav-bar .current, .nav-bar .current:hover { color: #4aaaa5; }

/* Body */

.site-body {
	min-height: 800px;
	padding-top: 88px;
}

.main-content {
	width: 588px;
	min-height: 438px;
	float: left;
}

.main-content h1 {
	padding: 14px 0px;
	font-size: 32px;
	color: #4aaaa5;
}

.body-item {
	margin-top: 40px;
	background-color: #ffffff;
	border: 1px solid #ddd;
	padding: 30px;
}

.main-content-page-break {
	background-color: #d7d7d7;
	width: 100%;
	height: 4px;
	margin: 12px 0px;
}

/* About Me */

.about-me img {
    width: 225px;
    float: left;
    padding: 0px 30px 30px 0px;
}

.about-me {
	margin-top: 30px;
	line-height: 2em;
}

.about-me p:first-letter {
	float: left;
	font-size: 60px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px;
}


/* Contact Page */

form p {
    margin: 20px 0px 10px 0px;
    font-size: 1.2em;
}

input, textarea {
	width: 100%;
	padding: 8px;
	font-size: 1em;
	box-sizing: border-box;
}

input {
	height: 35px;
}		

textarea {
	border-color: #dfdfdf;
	height: 200px;
	max-width: 100%
}

input[type=submit] {
    width: 116px;
    height: 40px;
    background: #49aaa5;
    color: #fff;
    border: 0 none;
    cursor: pointer;
    border-radius: 0px;
    font-size: 1em;
    margin-top: 19px;
}

/* input placegolder color */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #eeedee;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #eeedee;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #eeedee;
}
:-moz-placeholder { /* Firefox 18- */
  color: #eeedee;
}


/* Potrfolio Page */

.portfolio-item {
	float: left;
	background-color: #888;
	width: 274px;
	height: 205px;
	margin: 28px 0px;
	position: relative;		
	overflow: hidden;
	transition: .1s ease-in-out;
}

.portfolio-item:hover {	    		
	transform: translate(0,-8px);
	box-shadow: 0px 8px #eeedee;
	transition: .3s ease-in-out;

}


.portfolio-item:nth-child(even) {
	float: right;
}

.portfolio-item img {
	position: absolute;
	z-index: 0;
	-webkit-filter: blur(5px); /* Safari */
	filter: blur(5px);
	-webkit-transition-duration: .3s; /* Safari */
	transition-duration: .3s;
}

.portfolio-item:hover img {
	-webkit-filter: blur(0px); /* Safari */
	filter: blur(0px);
	-webkit-transition-duration: .2s; /* Safari */
	transition-duration: .2s;
}

.portfolio-item h2 {
	width: 100%;
	box-sizing: border-box;		
	margin-top: 136px;
    padding: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #4aaaa5;
    opacity: .9;
    font-weight: normal;
    position: absolute;
    z-index: 1;
}

/* Connect Sidebar */

.connect-sidebar {
	width: 208px; /*270-(30x2)-2*/
	height: 138px; /*200-(30x2)-2*/
	float: right;
}

.connect-sidebar h2 {
	color: #4aaaa5;
}

.connect-page-break {
	margin-top: 20px;
	height: 2px;
	width: 100%;
	background-color: #eeedee;
}

.connect-link img {
	width: 60px;
	height: 60px;
	float: left;
	padding-top: 30px;
	padding-left: 14px;
}

.connect-link:nth-child(3n) img {
	padding-left: 0px; /* remove left padding on the first link in each row */
}

.footer-push {
	height: 200px;
	width: 100%;
	display: inline-block;
}

.footer {
	font-size: 12px;
	text-align: center;
	width: 100%;
	padding: 42px;
	color: #CCCBC4;
	background-color: #666666;
	border-top: 8px solid #4aaaa5;
}